<main class="blog-notfound">

    <header class="notfound-header disable-action">
        <h1 class="notfound-header-title">404</h1>
    </header>

    <div class="notfound-content-container">
        <h5 class="notfound-content">Request URI <strong class="quicksand">{{ path }}</strong> doesn't exist.</h5>
        <a routerLink="/" class="notfound-content-link" title="go Home">
            <fa-icon [icon]="homeIcon"></fa-icon>
        </a>
    </div>

    <footer class="notfound-footer disable-action">
        <h1 class="notfound-footer-title">NOT FOUND</h1>
    </footer>

</main>