<div class="blog-article-list">

    <div class="list-write-container" *ngIf="writable">
        <a class="list-write" routerLink="/write">Write post</a>
    </div>

    <div class="list-list">

        <ng-container *ngFor="let article of articleList">
            <div class="list-item" [class.private-article]="!article.status" @settle>

                <a class="blog-article-card" [routerLink]="article.link">

                    <div class="card-thumbnail" [style.backgroundImage]="'url(' + article.thumbnailImagePath + ')'">
                        <!-- <img [src]="article.thumbnailImagePath" /> -->
                    </div>

                    <div class="card-content">

                        <div class="card-content-category-container">
                            <h3 class="card-content-category">{{ article.category }}</h3>
                        </div>

                        <div class="card-content-profile">
                            <div class="card-content-profile-image">
                                <img [src]="getProfileImagePath(article.author)" />
                            </div>
                            <div class="card-content-profile-info">
                                <h4 class="info-nickname">{{ (article.author && article.author.nickname) || 'Anonymous' }}</h4>
                                <p class="info-date">{{ getDateString(article.date) }}</p>
                            </div>
                        </div>

                        <div class="card-content-article">
                            <h3 class="card-content-article-title">{{ article.title }}</h3>
                        </div>

                    </div>

                </a>

            </div>
        </ng-container>

        <span class="list-measurer" #measurer></span>

        <div class="list-item in-process" *ngIf="loading">
            <div class="blog-article-spinner process-item-container"></div>
        </div>

    </div>

    <div class="list-nocontent" *ngIf="!loading && !articleList.length">
        <p class="list-nocontent-text">Found Nothing :(</p>
    </div>

</div>