@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700); // Gate
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i); // Blog
@font-face {
    font-family: 'Nanum Barun Gothic';
    font-style: normal;
    font-weight: 700;
    src: url(/assets/fonts/NanumBarunGothic-Bold.eot);
    src: url(/assets/fonts/NanumBarunGothic-Bold.eot?#iefix) format('embedded-opentype'),
         url(/assets/fonts/NanumBarunGothic-Bold.woff) format('woff'),
         url(/assets/fonts/NanumBarunGothic-Bold.ttf) format('truetype')
}
@font-face {
    font-family: 'Nanum Barun Gothic';
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/NanumBarunGothic-Regular.eot);
    src: url(/assets/fonts/NanumBarunGothic-Regular.eot?#iefix) format('embedded-opentype'),
         url(/assets/fonts/NanumBarunGothic-Regular.woff) format('woff'),
         url(/assets/fonts/NanumBarunGothic-Regular.ttf) format('truetype');
}