@import '../../modules/input/input.module.scss';
@import '../../modules/button/button.module.scss';
@import 'src/mixins/spin-loading.mixin.scss';


@include inputStyle();
@include buttonStyle();

::ng-deep mat-dialog-container:not(.nothing) {
    padding: 0;
}

.blog-account-signup {
    width: 100%;
    margin-bottom: 60px;

    $CONTAINER-SIZE: 80px;
    .signup-box {
        width: 100%;
        max-width: 340px;
        margin: 0 auto;
        padding: 20px;
        background-color: darken($EMERALD-BLUE, 10%);
        border-radius: 6px;
        box-shadow: 0 0 12px rgba(0,0,0,.4);

        .box-image-container {
            display: flex;

            a.box-image {
                width: $CONTAINER-SIZE; height: $CONTAINER-SIZE;
                border-radius: $CONTAINER-SIZE / 2;
                margin: 20px auto;
                display: flex;
                align-items: center;
                justify-content: center;
                overflow: hidden;
                background-color: $EMERALD-BLUE;
    
                img {
                    width: 100%;
                }

            }

        }

        form.box-form {
            width: 100%;
            display: flex;
            flex-direction: column;

            .box-form-input-container {

                &:not(:first-of-type) {
                    margin-top: 12px;
                }

                button.box-form-submit {
                    height: 40px;
                    font-size: 1rem;
                }

            }

            .box-form-text-container {
                margin-top: 24px;

                p.box-form-text {
                    font: {
                        size: 0.8rem;
                        weight: 300;
                    }
                    text-align: right;
                    color: $SAPPIRE-BLUE;

                    a.box-form-text-button {
                        cursor: pointer;
                        color: #fff;
                        text-decoration: underline;
                        font-weight: 100;
                    }

                }
                
            }

        }

        @include spinLoadingStyle($CONTAINER-SIZE, 20px, 5px, $DEEP-ORANGE);

    }

}

.signup-policy-container {
    background-color: darken($EMERALD-BLUE, 10%);
    border-radius: 6px;
    overflow: hidden;
    padding: 12px;
    height: 600px;
    max-width: 500px;
    max-height: 90vh;

    .signup-policy {
        height: 100%;
        overflow: {
            x: hidden;
            y: auto;
        }
        box-shadow: 0 0 5px rgba(#000, .6) inset;
        background-color: #f7f7f7;
        padding: 12px;
        color: #333;

        > *:not(:first-child) {
            margin-top: 12px;
        }

        > p {
            padding-left: 12px;
        }

        > ul {
            padding-left: 18px;
            color: $SAPPIRE-BLUE;
        }

    }

}


@media only screen and (max-width: 390px) {

    .blog-account-signup {

        .signup-box {
            max-width: 90%;
        }

    }

}