@import url(//cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css); // Korean
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700); // Gate
@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i); // Blog

@font-face { //playground
    font-family: "CookieRun";
    src: url('/assets/fonts/CookieRunBold.woff2') format('woff2'),
         url('/assets/fonts/CookieRunBold.woff') format('woff'),
         url('/assets/fonts/CookieRunBold.ttf') format('truetype');
    font-weight: 600;
    unicode-range: U+0-10FFFF;
}

* { margin: 0; border: 0; padding: 0; box-sizing: border-box; &:focus { outline: none; } }
:root { width: 100%; height: 100%; overflow: { x: hidden; y: auto; } }
body { width: 100%; height: 100%; }
a { text-decoration: none; color: black; }
li { list-style-type: none; }
input, select, textarea, button { font-family: inherit; }

.n-b-gothic { font-family: 'Nanum Barun Gothic', Helvetica; }
.quicksand { font-family: 'Quicksand', 'Nanum Barun Gothic', sans-serif; }
.ubuntu { font-family: 'Ubuntu', 'Nanum Barun Gothic', sans-serif; }
.cookie { font-family: 'CookieRun', 'Nanum Barun Gothic', cursive; }