<div class="gate-not-found quicksand">

    <div class="not-found-box">
        <header class="box-header">
            <div class="box-header-image-container">
                <img src="/assets/images/logo.png" />
            </div>
            <div class="box-header-text-container">
                <h1 class="box-header-logo">404</h1>
                <h2 class="box-header-title">NOT FOUND</h2>
            </div>
        </header>
        <div class="box-content">
            <p class="box-content-description">Sorry, I'm TOO lazy to find path <span>{{ path }}</span> that doesn't exist.</p>
            <a class="box-content-link" routerLink="/">Go Home</a>
        </div>
    </div>

</div>